body{
    margin:0;
    padding:0; 
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0px 0px 0px 5px;
    overflow: hidden;
    background-color:black;
    opacity:;
    top: 0px;
    width: 100%;
}
#pro_pic{
    width: 40px;
    height: 40px;
	border:2px solid white;
	border-radius:50px;
	float:left;
}

.navigationb{
    color: white;
    font-size:30px;
	border:2px solid transparent;
	padding:5px 0px 0px 10px;
	float:left;
}

li {
    float: left;
}
.right-li{
    float:right;
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}