.comments{
    width:100%;
    height:auto;
    padding:2px 10px 2px 10px;
    margin-bottom: 5px;
    border:1px solid black;
    border-bottom-color: black;
    background-color: grey;
    overflow: auto;
    box-sizing: border-box;
}
#comment-title{
    font-size: 20px;
    text-decoration: none;
    font-family:;
    color:;
    font-weight: bold;
    letter-spacing:1.2;
    line-height: .5;
    text-align: center;
}

#div-commentBox{
    width:100%;
    height:auto;
}
#commentBox{
    width:90%;
    height:60px;
    border:2px solid grey;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
#comment-button{
    width: 25%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:black;
    color: white;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top:5px;
}
#comment-button:hover{
    background-color: white;
    color: black;
}
#comment-error{
    float:left;
}
#comment_delete_button{
    background-color: red;
    border:2px solid white;
    color: white;
    font-weight: bold;
    width:4%;
    height: 4%;
    float:right;
}
textarea{
    background-color: lightgrey;
    color:black;
}
::placeholder{
     color: black;
    font-style: italic;
}
.comment-datetime{
    font-size: 12px;
    font-style: italic;
    font-family: 'Tahoma';
    line-height: 0.9;
    word-spacing: 2;
    color:#00264d;

}