body{
    margin:0;
}

#single_blog_content{
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}
#single_blog{
    background-color: lightgrey;
    max-width:40%;
    height:auto;
    float:left;
    margin: 0px 30px 20px 0px;
    padding:5px;
    border:3px solid black;
    border-radius: 10px;
    text-align:justify;

}
#all_blogs{

    background-color:;
    width:70%;
    height:auto;
    padding:10px 0px 10px 10px;
    float:left;
    border-color: transparent;
    border-style: none;
    border-right:1px solid black;
}
article{
    padding-top:50px;
}

#right-content{
    background-color:;
    width:28%;
    height:auto;
    padding:5px 0px 5px 0px;
    float:right;

}
#searchby{
    max-width:40%;
    height:auto;
    background-color:grey ;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin-left: 10px;
    top:20px;
    float:left;

    cursor:pointer;
}
#searchbox{
    max-width:70%;
    height:auto;
    background-color:grey ;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
    top:20px;
    float:left;

}

hr { border: solid black; border-width: 2px 0 0;clear: both; margin-top:30px; width: 200px; }

.blog_title{
    font-size: 25px;
    text-decoration: none;
    font-family: ;
    color:black;
    font-weight: bold;
}
.datetime{
    font-size: 14px;
    font-style: italic;
    color:black;
    line-height: 0.9;
    word-spacing: 2;

}
.body{
     font-size: 16px;
    color:black;
    letter-spacing: 1.5;
    word-spacing: 1;
}
.bold-blog-content{
    font-size: 15px;
    font-weight: bold;
    color:black;
    line-height: 0.6;
}
