body{
    margin:0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    width:100%;
}
li{
     float: left;
}
li.right-li{
    float: right;
}
li.right-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.right-li a:hover {
    background-color: #111;
}
.navigationb{
    color: white;
    font-size:30px;
}
#pro_pic{
    width: 5%;
    height: 5%;
}
#single_blog_content{
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}
#single_blog{
    background-color: lightgrey;
    max-width:40%;
    height:auto;
    float:left;
    margin: 0px 30px 20px 0px;
    padding:5px;
    border:3px solid black;
    border-radius: 10px;
    text-align:justify;

}
#all_blogs{

    background-color:;
    width:70%;
    height:auto;
    padding:10px 0px 10px 10px;
    float:left;
    border-color: transparent;
    border-style: none;
    border-right:1px solid black;
}
article{
    padding-top:50px;
}

#right-content{
    background-color:;
    width:28%;
    height:auto;
    padding:5px 0px 5px 0px;
    float:right;

}
#searchby{
    max-width:40%;
    height:auto;
    background-color:grey ;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin-left: 10px;
    top:20px;
    float:left;

    cursor:pointer;
}
#searchbox{
    max-width:70%;
    height:auto;
    background-color:grey ;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
    top:20px;
    float:left;

}

hr { border: solid black; border-width: 2px 0 0;clear: both; margin-top:30px; width: 200px; }

.blog_title{
    font-size: 25px;
    text-decoration: none;
    font-family: ;
    color:black;
    font-weight: bold;
}
.datetime{
    font-size: 14px;
    font-style: italic;
    color:black;
    line-height: 0.9;
    word-spacing: 2;

}
.body{
     font-size: 16px;
    color:black;
    letter-spacing: 1.5;
    word-spacing: 1;
}
.bold-blog-content{
    font-size: 15px;
    font-weight: bold;
    color:black;
    line-height: 0.6;
}

/*==========================
    for sign up page
===========================*/
#signup-title{
    font-weight: bold;
    font-size:28px;
    font-family: ;
    text-align:center;
}
#signup-form{
    max-width:55%;
    height:auto;
    background-color: lightgrey ;
    border:3px solid grey;
    padding: 20px 40px;
    margin: 0 auto;
}
.input{
    width: 100%;
    height: 50px;
    background-color:lightgrey ;
    color: black;
    border-color: transparent;
    border-style: none;
    border-bottom: 2px solid darkgrey;
    padding: 12px 10px;
    margin-bottom:20px;
    font-size: 16px;
}
label{
    line-height:;
    font-size: 18px;
    font-family: '';
    font-weight:bold ;
    color: black;
    border:2px solid transparent;
}

select{
    width: 25%;
    height: 40px;
    background-color:lightgrey ;
    color: black;
    border: 2px solid darkgrey;
    padding: 6px 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
#day{
    width:10%;
}

#signup-button{
    width: 25%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:black;
    color: white;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top:20px;
}
#signup-button:hover{
    background-color: white;
    color: black;
}

#imginput{
    width:0;
    padding: 100px 0 0 0;
    height: 0px;
    display: inline-block;
    overflow: hidden;

}
/*==========  End   =========*/
/*=============================
BLOG POST & COMMENT
=============================*/
#blog-container{
    max-width:60%;
    height:auto;
    background-color: darkslategray;
    color:black;
    border:3px solid grey;
    padding: 5px 20px 10px 20px;
    margin: 0;
    text-align: justify;
}

#blog-container-content{
    max-width:100%;
    height:auto;
    border:2px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.comments{
    width:95%;
    height:auto;
    padding:2px 10px 2px 10px;
    border:1px solid transparent;
    border-bottom-color: black;
}
#comment-title{
    font-size: 20px;
    text-decoration: none;
    font-family: ;
    color:;
    font-weight: bold;
    word-spacing: 2;
    letter-spacing:1.2;
    line-height: .5;
}

#div-commentBox{
    width:100%;
    height:auto;
}
#commentBox{
    width:100%;
    height:60px;
}
#comment-button{
    width: 25%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:black;
    color: white;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top:5px;
}
#comment-button:hover{
    background-color: white;
    color: black;
}
#comment-error{
    float:left;
}

/*============================================





/*============================================

   Crime Post page
 ==============================================*/

#post-container-box{
    max-width:60%;
    height:350px;
    background-color: darkslategray;
    color:black;
    border:3px solid grey;
    padding: 5px 20px 10px 20px;
    margin: 0;
    text-align: justify;
}
#mini-div{
    width:100%;
    height: auto;
    background-color:;
    float: left;
}
#mini-div-box-1{
    background-color:;
    width:25%;
    height:auto;
    margin: 5px 0px 5px 0px;
    padding:5px;
    border:2px solid black;

    border-radius: 3px;
    float: left;
}
#mini-div-box-2{
    background-color:;
    width:35%;
    height:auto;
    margin: 5px 0px 5px 0px;
    padding:5px;
    border:2px solid black;

    border-radius: 3px;
    float: left;
}
#mini-div-box-3{
    background-color:;
    width:25%;
    height:auto;
    margin: 5px 0px 5px 0px;
    padding:5px;
    border:2px solid black;
    border-radius: 3px;
    float: left;
}
#select-category , #select-location{
    width:100%;
    height: 30px;
    font-size: 10px;
}

#div-description-body{
    float:left;
    background-color:;
}
#description-body{
    width:90%;
    height: auto;
}

#div-button-etc{
     width:100%;
     float:left;
     background-color:;
}
#post-button{
      width: 25%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:black;
    color: white;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top:5px;
}
#post-button:hover{
    background-color: white;
    color: black;
}

#div-title-post{
    width:100%;
    height:auto;
    margin-left:5px;
    margin-right:5px;
    top:10px;
    float:left;
    clear:both;
}
#title-post{
    width:90%;
    height:40px;
    padding: 5px 12px 5px 12px;
    margin:0px;
    float:left;
    clear:both;
}
