body{
    margin:0px;
    padding: 0px;
}
#single_blog_content{
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    padding:0px 20px 20px 20px;
    color:white;
    text-align:justify;
    box-sizing: border-box;
    height:auto;
    width:100%;
}
#single_blog{
    background-color: #c2c2c2;
    width:49%;
    height:auto;
    border:2px solid transparent;
    border-radius:;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
}

#single_blog:nth-child(odd){
   float: left;
   border-color: orange;
}
#single_blog:nth-child(even){
    float: right;
    border-color: #001a33
}
#single_blog:hover{
    background-color:#d9d9d9;
    width:49%;
    clear:none;
    height: auto;

}
#index-content{
    width: 90%;
    height:auto;
    background-color:transparent;
    margin:0 auto;
}
#all_blogs{
    width:75%;
    height:auto;
    padding: 0px 5px 0px 5px;
    float:left;
    background-color:transparent;
    box-sizing: border-box;

}
.labels{
    font-size: 25px;
    font-family: 'Tahoma';
    font-weight:bold;
    word-spacing:2;
    color:black;
    background-color: orange;
    padding:6px 10px 6px 10px;
    float: left;
    box-sizing: border-box;
    width: 100%;
    text-align:left;
}
#map-canvas{
    height:400px;
    width:100%;
    margin: 0px;
    padding: 0px;
}

#right-content{
    background-color:transparent;
    width:25%;
    height:auto;
    padding:5px 0px 5px 0px;
    float:right;
    position:;
}
#searchby{
    width:30%;
    height:auto;
    background-color:#c2c2c2 ;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding:5px 10px;
    float:right;
    cursor:pointer;
    box-sizing: border-box;
}
#searchbox{
    width:65%;
    height:auto;
    background-color:#c2c2c2 ;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding:5px 10px;
    margin:0px 0px 0px 10px;
    float:left;
    box-sizing: border-box;

}
::placeholder{
    color:#1a1a1a;
    font-style: italic;
}

hr { border: 1px solid white;clear: both; margin-top:30px; width:50%; }

#div_blog_title{
    max-width:100%;
    border:2px solid black;
    border-bottom:1px solid white;
    background-color: #0d0d0d;
}
.blog_title{
    font-size: 25px;
    text-decoration: none;
    font-family: 'Tahoma';
    text-transform: capitalize;
    font-weight:normal;
    word-spacing: 2;
    color:white;
    padding: 6px 8px 10px 8px;
}
.blog_title:hover{
    color:red;
    background-color: transparent;
}
.datetime{
    font-size: 14px;
    font-style: italic;
    font-family: 'Tahoma';
    line-height: 0.9;
    word-spacing: 2;
    color:#00264d;

}
.body{
     font-size: 16px;
    letter-spacing: 1.5;
    font-family: 'Tahoma';
    word-spacing: 1;
    color: black;
    word-wrap:break-word;
}
.bold-blog-content{
    font-size: 15px;
    font-weight: bold;
    line-height: 0.6;
    font-family: 'Tahoma';
    color: black;
    text-align: center;
}
.circled_pro_pic{
    width: 30px;
    height: 30px;
    border:2px solid white;
    border-radius:50px;

}
