body{
    margin:0;
    padding:0; 
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0px 0px 0px 5px;
    overflow: hidden;
    top: 0px;
    background-color:black;
}
#pro_pic{
    width: 40px;
    height: 40px;
	border:2px solid white;
	border-radius:50px;
	float:left;
}
navigation{
    background-color:black;
    width: 100%;
    overflow: hidden;
    top: 0px;
    position:fixed;
}

.navigationb{
    color: white;
    font-size:30px;
	border:2px solid transparent;
	padding:5px 0px 0px 10px;
	float:left;
}

.right-li{
    float:right;
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;

}

a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    background-color: red;
}
