body{
    margin:0px;
    padding: 0px;
}
article{
    margin-top: 4.5%;
}
label{
    color:white;
    font-size:18px;
}

::placeholder{
    color: black;
    font-style: italic;
}
strong{
    color:white;
}

/*============================================

   Crime Post page
 ==============================================*/

#post-container-box{
    max-width:60%;
    height:350px;
    background-color:#333333 ;
    color:black;
    border:3px solid grey;
    padding: 5px 20px 10px 20px;
    margin: 0;
    text-align: justify;
}
#mini-div-container{
    width:100%;
    height:auto;
    background-color: blue;
}
#mini-div{
    width:25%;
    height: auto;
    background-color:transparent;
    float: left;
    padding:5px 10px 5px 0px;
    border:2px solid transparent;
    border-right-color:black;
}
#mini-div-box-1{
    background-color:;
    width:100%;
    height:auto;
    border:2px solid transparent;
    border-radius: 3px;
    float: left;

    color: orange;
    overflow: hidden;
    position: relative;
}
#mini-div-box-1:after {
    content: url("../img/arrow_sans_down_32.png");
    position: absolute;
    right: 5px;
    top:25%;
    z-index: 1;
    text-align: center;
    width: 20%;
    height: 100%;
    pointer-events: none; 
}
#mini-div-box-2{
    background-color:;
    width:100%;
    height:auto;
    border:2px solid transparent;
    border-radius: 3px;
    float: left;
}
#mini-div-box-3{
    background-color:;
    width:100%;
    height:auto;
    border:2px solid transparent;
    border-radius: 3px;
    float: left;

    color: orange;
    overflow: hidden;
    position: relative;
}
#mini-div-box-3:after {
    content: url("../img/arrow_sans_down_32.png");
    position: absolute;
    right: 5px;
    top:25%;
    z-index: 1;
    text-align: center;
    width: 20%;
    height: 100%;
    pointer-events: none; 
}
#select-category{
    width:100%;
    height: 30px;
    font-size: 14px;
    background-color: grey;
    border:2px solid grey;
    border-radius:5px;
    color:black;
    box-sizing: border-box;

    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
} 

#select-location{
    width:100%;
    height: 30px;
    font-size: 14px;
    background-color: grey;
    border:2px solid grey;
    border-radius:5px;
    color:black;
    box-sizing: border-box;

    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}
#select-location::-ms-expand {
   display:none;
}
#select-detailedlocation{
    width:100%;
    height: 30px;
    font-size: 14px;
    background-color: grey;
    border:2px solid grey;
    border-radius:5px;
    color:black;
    box-sizing: border-box;

}

#div-description-body{
    float:right;
    background-color:transparent;
    padding: 5px 0px 5px 10px;  
    width: 70%;
    border:2px solid transparent;
    border-radius: 3px;

}
#description-body{
    width:100%;
    height: auto;
    border:2px solid grey;
    border-radius:5px; 
    padding: 5px;
    background-color: grey;
    color:black;
    box-sizing: border-box;
}

#div-button-etc{
     width:100%;
     float:left;
     background-color:;
}
#post-button{
    width: 25%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:black;
    color: white;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top:5px;
    float: right;
}
#post-button:hover{
    background-color: grey;
    color: black;
}

#div-title-post{
    width:100%;
    height:auto;
    margin:;
    background-color:transparent;
    float:left;
    clear:both;
}
#title-post{
    width:100%;
    height:40px;
    padding: 5px 12px 5px 12px;
    border:2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: grey;
    margin:0px;
    float:left;
    clear:both;
}
sup{
    color:red;
}
