body{
    margin:0px;
    padding: 0px;
    background-color: Beige;
}
article{
    margin-top: 4.5%;
}
label{
    color:#e65c00;
    font-size:18px;
}

::placeholder{
    color: black;
    font-style: italic;
}
strong{
    color:#e65c00;
}

/*============================================

   Crime Post page
 ==============================================*/

#post-layout{
    max-width: 70%;
    height:auto;
    margin: 0 auto;
}
#post-container-box{
    max-width:100%;
    padding: 0px 20px 40px 20px;
    height:400px;
    background-color:#ffd699;
    border-color: transparent;
    border-style: none;
    padding: 10px 20px 40px 20px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 40px;
    background-color:#ff8c1a;
    border-color: transparent;
    border-style:none;
    border-bottom: 6px dotted #ffd699; 
    box-sizing: border-box;
}
#makepost-header{
    color: black;
    font-weight: bold;
    font-size: 22px;
     padding: 5px 0px 2px 20px;
}

#div-title-post{
    width:100%;
    height:auto;
    float:left;
    padding-bottom: 20px;
}
#title-post{
    width:100%;
    height:50px;
    padding: 5px 12px 5px 12px;
    border:1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff5e6;
    float:left;
}

#mini-div-container{
    width:100%;
    height:auto;
    background-color:;
    box-sizing: border-box;
    float: left;
}
#mini-div{
    width:25%;
    height: auto;
    background-color:;
    float: left;
    padding:5px 0px 5px 0px;
}
#mini-div-box-1{
    background-color:;
    width:100%;
    height:auto;
    float: left;
    overflow: hidden;
    position: relative;
}
#mini-div-box-1:after {
    content: url("../img/arrow_sans_down_32.png");
    position: absolute;
    right: 5px;
    top:25%;
    z-index: 1;
    pointer-events: none; 
}
#mini-div-box-2{
    width:100%;
    height:auto;
    border:2px solid transparent;
    border-radius: 3px;
    float: left;
}
#mini-div-box-3{
    background-color:;
    width:100%;
    height:auto;
    float: left;
    overflow: hidden;
    position: relative;
}
#mini-div-box-3:after {
    content: url("../img/arrow_sans_down_32.png");
    position: absolute;
    right: 5px;
    top:25%;
    z-index: 1;
    pointer-events: none;
}
#select-category{
    width:100%;
    height: 30px;
    font-size: 14px;
    background-color: #fff5e6;
    border-color: transparent;
    border-style: none;
    border-bottom: 2px solid black;
    color:black;
    box-sizing: border-box;

    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
} 

#select-location{
    width:100%;
    height: 30px;
    font-size: 14px;
    background-color: #fff5e6;
    border-color: transparent;
    border-style: none;
    border-bottom: 2px solid black;
    color:black;
    box-sizing: border-box;

    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}
#select-location::-ms-expand {
   display:none;
}

#detailedlocation{
    width:100%;
    height: auto;
    font-size: 14px;
    background-color: #fff5e6;
    border:1px solid black;
    border-radius:5px;
    padding: 5px ;
    color:black;
    box-sizing: border-box;
}

#div-description-body{
    float:right;
    background-color:;
    padding: 5px 0px 5px 5px;  
    width: 73%;
    height: auto;
    border-color: transparent;
    border-style: none;
    border-left: 4px double #fff5e6;
}
#description-body{
    width:100%;
    height: auto;
    border:1px solid black;
    border-radius:5px; 
    padding: 5px;
    background-color: #fff5e6;
    color:black;
    box-sizing: border-box;
    font-size: 14px;
}



#div-button-etc{
     width:100%;
     float:left;
     background-color:;
     box-sizing: border-box;
}
#hideme-div{
    background-color:;
    float: right;
}
#post-button{
    width: 20%;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color:#e65c00;
    color: black;
    text-align: center;
    font-family: "";
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top:5px;
    float: right;
}
#post-button:hover{
    background-color: black;
    color: #e65c00;
}

sup{
    color:red;
}

#div-attach{
    padding-top: 10px;
}
#attach{
    width:0;
    padding: 10px 0 0 0;
    height: 0px;
    display: inline-block;
    overflow: hidden;
}
#attach-btn{
    background: url(../img/gallery.png) no-repeat scroll 10px 2px;
    font-size: 14px;
    font-weight: bold;
    border:1px solid white;
    border-radius:50px;
    background-color:#79d279;
    color:white;
    padding:10px 10px 0px 5px;
    float: left;
    box-sizing: border-box;
    width: 25%;
    height: 40px;
    text-align: right;
}
#attach-btn:hover{
    background-color: #39ac39;
    color:white;
}
